<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="soup.taxi.mappers.ClientMapper">

	<insert id="create" parameterType="soup.taxi.vo.ClientVO">
		insert into tbl_client(userid,userpw,username,cellnumber) values(#{userid},#{userpw},#{username},#{cellnumber})
	</insert>
	<select id="read" parameterType="String" resultType="soup.taxi.vo.ClientVO">
		select userid,username,cellnumber from tbl_client where userid=#{userid}
	</select>
	<update id="update" parameterType="soup.taxi.vo.ClientVO">
		update tbl_client set
		userpw=#{userpw},cellnumber=#{cellnumber} where userid=#{userid}
	</update>
	<delete id="delete">
		delete from tbl_client where userid=#{userid}
	</delete>
	<select id="getList" resultType="soup.taxi.vo.ClientVO">
		select userid,username,cellnumber from tbl_client
	</select>

</mapper>